
a{
    text-decoration: none;
}

#content{
    width: 100%;
    display:inline-block;
}

.filterDiv{
    background-color: white;
    /* height:600px; */
    width:20%;
    margin-left: 5px;
    margin-top: 20px;
    /* border:2px solid gray; */
    float:left
}
.contentDiv{
    height:800px;
    width:77%;
    margin-left: 2%;
    border:2px solid green;
    float:left
}
.noBorder{
    border:none 
}

#sorting >p {
    color:#f18c44;
    font-size:25px;
}

#cuisine >p {
    color:#f18c44;
    font-size:25px;
}

#rating >p {
    color:#f18c44;
    font-size:25px;
}

.tileContainer{
    width: 95%;
    height:300px;
    box-shadow: 10px 20px 10px gray;
    float:left;
    margin-left:2%;
    margin-top:2%;
}

.tileContainer:hover{
    transform: scale(1.0);
}

.tileComponent1{
    width:50%;
    height:280px;
    float:left;
}
.tileComponent1>img{
    width:100%;
    height:280px
}
.tileComponent2{
    width:45%;
    margin-left:2%;
    margin-top:2%;
    float:left;
}

.componentHeading >p {
    color:#f18c44;
    font-size:25px;
}
.componentSubHeading{
    color:gray;
    font-size:20px;
}

.pageSection{
    display: inline-block;
    width:100%;
    height: 36px;
    text-align: center;
    margin-top:15%;
}

.pageSection >button {
    height: 36px;
}

.componentStar >span {
    font-size: 200%;
}

.componentStarSpanYellow {
    color: yellow;
}

#button >button{
    background-color:crimson;
}